<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Disorders Prognosis</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>


<style>
    body {
      background-image: url("https://2019.igem.org/wiki/images/e/e8/T--british_columbia--full_homepage_noseagull_resized.jpg");
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
    }

    nav {
      opacity: 0.8;
      font-size: 1.1em;
    }

    .welcome_content {
      padding-top: 2%;
      text-align: center;
    }

    .welcome_content div {
      padding-bottom: 5%;
    }


</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Big Data</a>
        <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#"></a>
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#"></a>
                <a class="nav-item nav-link" th:href="@{/login}">Login</a>
                <a class="nav-item nav-link" href="#"></a>
                <a class="nav-item nav-link" th:href="@{/query}" tabindex="-1">Query</a>
                <a class="nav-item nav-link" href="#"></a>
                <a class="nav-item nav-link" href="team.html">About us</a>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="welcome_content">
        <div class="boring">
            <p> Hello everyone, how are you all doing on this fine summer evening? I know I'm doing fine.</p>
            <p> We are proud to present you a prototype of a database for disease prognosis. </p>
            <p> April 2020 (c) </p>
        </div>

        <div class="btns">
            <a class="btn btn-primary" id="btn" th:href="@{/login}" type="button">Sign In</a>
        </div>
    </div>
</div>


</body>


</html>
