<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Login</title>-->
<!--<script th:src="@{/js/bootstrap.min.js}"></script>-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">-->

<!--</head>-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Disorders Prognosis</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<style>

    body{
      background-image: url("https://2019.igem.org/wiki/images/e/e8/T--british_columbia--full_homepage_noseagull_resized.jpg");
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
    }

    nav{
      opacity: 0.8;
      font-size: 1.1em;
    }

    a{
      list-style: none;
      color: black;
      font-size: 1.1em;
    }

    a:hover{
      text-decoration: underline;
      text-decoration-color: rgba(234, 169, 124, 1);
      color: black;
    }

    .container{
      width: 100%;
    }

    .h2 {
      text-align: center;
    }

  .btn {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    margin-bottom: 2%;
    margin-left: 2%;
  }

  .btn:hover {
    background-color: rgba(230, 230, 250, 0.5);
    color: black;
  }


  .list-group{
    width: 100%;
    height: 100vh;
    padding-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
  }

  .list-group-item{
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .list-group-item:hover {
    background-color: rgba(230, 230, 250, 0.5);
    cursor: pointer;
  }


  .disease {
    display: flex;
    padding-bottom: 5%;
  }

  .clinical_trail{
    display: flex;
    padding-bottom: 5%;
  }

  .treatment{
    display: flex;
    padding-bottom: 5%;
  }

  .patient{
    display: flex;
    padding-bottom: 5%;
  }

  .medical_record{
    display: flex;
    padding-bottom: 5%;
  }

  .other{
    padding-bottom: 5%;
  }




</style>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Big Data</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#"></a>
            <a class="nav-item nav-link" href="index.html">Home</a>
            <a class="nav-item nav-link" href="#"></a>
            <a class="nav-item nav-link" href="login.html">Login</a>
            <a class="nav-item nav-link" href="#"></a>
            <a class="nav-item nav-link active" href="query.html">Query<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#"></a>
            <a class="nav-item nav-link" href="team.html">About us</a>
        </div>
    </div>
</nav>
<div class="container">
  <h2 style="text-align: center; margin-top: 2%;"> Welcome [display the name of the user] </h2>

  <ul class="list-group">
    <a href="#disease"><li class="list-group-item"> Disease</li> </a>
    <a href="#clinical_trail"> <li class="list-group-item">Clinical Trail</li></a>
    <a href="#treatment"> <li class="list-group-item">Treatment</li></a>
    <a href="#patient"><li class="list-group-item">Patient </li></a>
    <a href="#medical_record"><li class="list-group-item">Medical Record </li></a>
  </ul>

  <h2 id="disease">Disease</h2>
  <div class="disease">

    <div class="card" style="width: 100%">
      <div class="card-body" style='height: 80vh;'>
        <form class="form-inline" action="/action_page.php">
            <div class="form-group" style="padding-bottom: 2%;">
              <label>Disease Name:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <button type="button" class="btn btn-secondary" id ="#disease_search" style="margin-bottom: 2%;">Search</button>
            <button type="button" class="btn btn-secondary" id ="#disease_add">Add</button>

            <div class="form-group" style="padding-bottom: 2%;">
              <label>Clinical Trail Name:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <button type="button" class="btn btn-secondary" id ="#disease_search" style="margin-bottom: 2%;">Search</button>

            <div class="form-group" style="padding-bottom: 2%;">
              <label>Disease Name:</label>
              <input type="email" class="form-control" id="email">
              <label>Clinical Trail Name:</label>
              <input type="email" class="form-control" id="email">
            </div>
            <button type="button" class="btn btn-secondary" id ="#disease_search" style="margin-bottom: 2%;">Add</button>
        </form>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Disease Name</th>
              <th scope="col">Prevelence</th>
              <th scope="col">Symptoms</th>
              <th scope="col">Other Info</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button type="button" class="btn btn-secondary" id ="#disease_edit" style="width: 77%;">Edit</button></td>
            <td><button type="button" class="btn btn-secondary" id ="#disease_delete" style="width: 60%;">Delete</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><button type="button" class="btn btn-secondary" id ="#disease_edit" style="width: 77%;">Edit</button></td>
            <td><button type="button" class="btn btn-secondary" id ="#disease_delete" style="width: 60%;">Delete</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><button type="button" class="btn btn-secondary" id ="#disease_edit" style="width: 77%;">Edit</button></td>
            <td><button type="button" class="btn btn-secondary" id ="#disease_delete" style="width: 60%;">Delete</button></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>


<h2 id="clinical_trail">Clinical Trail</h2>
<div class="clinical_trail">

  <div class="card" style="width: 100%;">
    <div class="card-body" style='height: 80vh;'>
      <form class="form-inline" action="/action_page.php">
          <div class="form-group" style="padding-bottom: 2%;">
            <label>Clinical trail Name:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <button type="button" class="btn btn-secondary" id ="#clinical_trail_search">Search</button>
          <button type="button" class="btn btn-secondary" id ="#clinical_trail_add">Add</button>

          <div class="form-group" style="padding-bottom: 2%;">
            <label>Disease Name:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <button type="button" class="btn btn-secondary" id ="#clinicalTrail_search" style="margin-bottom: 2%;">Search</button>

          <div class="form-group" style="padding-bottom: 2%;">
            <label>Clinical trail Name:</label>
            <input type="email" class="form-control" id="email">
            <label>Disease Name:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <button type="button" class="btn btn-secondary" id ="#clinicalTrail_search" style="margin-bottom: 2%;">Add</button>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Trail</th>
            <th scope="col">Duration</th>
            <th scope="col">Type</th>
            <th scope="col">Risks</th>
            <th scope="col">Patients</th>
            <th scope="col">IsComplete</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><button type="button" class="btn btn-secondary" id ="#clinical_trail_edit" style="width: 77%;">Edit</button></td>
          <td><button type="button" class="btn btn-secondary" id ="#clinical_trail_delete" style="width: 60%;">Delete</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><button type="button" class="btn btn-secondary" id ="#clinical_trail_edit" style="width: 77%;">Edit</button></td>
          <td><button type="button" class="btn btn-secondary" id ="#clinical_trail_delete" style="width: 60%;">Delete</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><button type="button" class="btn btn-secondary" id ="#clinical_trail_edit" style="width: 77%;">Edit</button></td>
          <td><button type="button" class="btn btn-secondary" id ="#clinical_trail_delete" style="width: 60%;">Delete</button></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>


<h2 id="treatment">Treatment</h2>
<div class="treatment">

  <div class="card" style="width: 100%">
    <div class="card-body" style='height: 80vh;'>
      <form class="form-inline" action="/action_page.php">
          <div class="form-group" style="padding-bottom: 2%;">
            <label>Treatment Name:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <button type="button" class="btn btn-secondary" id ="#treatment_search" style="margin-bottom: 2%;">Search</button>
          <button type="button" class="btn btn-secondary" id ="#treatment_add">Add</button>

          <div class="form-group" style="padding-bottom: 2%;">
            <label>Disease Name:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <button type="button" class="btn btn-secondary" id ="#treatment_search" style="margin-bottom: 2%;">Search</button>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Treatment Name</th>
            <th scope="col">Efficiency</th>
            <th scope="col">Equipment</th>
            <th scope="col">Risks</th>
            <th scope="col">Edit</th>
            <th scope="col">See more</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><button type="button" class="btn btn-secondary" id ="#treatment_edit" style="width: 77%;">Edit</button></td>
          <td><button type="button" class="btn btn-secondary" id ="#treatment_more" style="width: 60%;">More</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td><button type="button" class="btn btn-secondary" id ="#treatment_edit" style="width: 77%;">Edit</button></td>
          <td><button type="button" class="btn btn-secondary" id ="#treatment_more" style="width: 60%;">More</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td><button type="button" class="btn btn-secondary" id ="#treatment_edit" style="width: 77%;">Edit</button></td>
          <td><button type="button" class="btn btn-secondary" id ="#treatment_more" style="width: 60%;">More</button></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>



<h2 id="patient">Patient</h2>
<div class="patient">

  <div class="card" style="width: 100%;">
    <div class="card-body" style='height: 80vh;'>
      <form class="form-inline" action="/action_page.php">
          <div class="form-group" style="padding-bottom: 2%;">
            <label>Patient ID:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <button type="button" class="btn btn-secondary" id ="#patient_search">Search</button>
          <button type="button" class="btn btn-secondary" id ="#patient_add">Add</button>
      </form>

      <form class="form-inline" action="/action_page.php">
        <div class="form-group" style="padding-bottom: 2%;">
          <label> Oldest patient grouped by physician </label>
        </div>
        <button type="button" class="btn btn-secondary" id ="#patient_search">Search</button>
      </form>

      <form class="form-inline" action="/action_page.php">
        <div class="form-group" style="padding-bottom: 2%;">
          <label> Patient with all diseases </label>
        </div>
        <button type="button" class="btn btn-secondary" id ="#patient_search">Search</button>
      </form>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Patient ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Physician</th>
            <th scope="col">#MedicalRecord</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>1</td>
          <td><button type="button" class="btn btn-secondary" id ="#patient_edit" style="width: 77%;">Edit</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>1</td>
          <td><button type="button" class="btn btn-secondary" id ="#patient_edit" style="width: 77%;">Edit</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>1</td>
          <td><button type="button" class="btn btn-secondary" id ="#patient_edit" style="width: 77%;">Edit</button></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>



<h2 id="medical_record">Medical Record</h2>
<div class="medical_record">

  <div class="card" style="width: 100%;">
    <div class="card-body" style='height: 80vh;'>
      <form class="form-inline" action="/action_page.php">
          <div class="form-group" style="padding-bottom: 2%;">
            <label>Patient ID:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <button type="button" class="btn btn-secondary" id ="#medical_record_search">Search</button>
          <button type="button" class="btn btn-secondary" id ="#medical_record_add">Add</button>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Patient ID</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Disease</th>
            <th scope="col">Allergies</th>
            <th scope="col">Medications</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><button type="button" class="btn btn-secondary" id ="#medical_record_edit" style="width: 77%;">Edit</button></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><button type="button" class="btn btn-secondary" id ="#medical_record_edit" style="width: 77%;">Edit</button></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td><button type="button" class="btn btn-secondary" id ="#medical_record_edit" style="width: 77%;">Edit</button></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>

</div>

</body>


</html>
