<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Login</title>-->
<!--<script th:src="@{/js/bootstrap.min.js}"></script>-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">-->

<!--</head>-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Disorders Prognosis</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/query.js}"></script>
    <script type="text/javascript" th:src="@{/js/clinicalTrialQuery.js}"></script>
</head>

<style>

    body{
      background-image: url("https://2019.igem.org/wiki/images/e/e8/T--british_columbia--full_homepage_noseagull_resized.jpg");
      background-repeat: no-repeat;
      background-position: right;
      background-size: cover;
    }

    nav{
      opacity: 0.8;
    }

    a{
      list-style: none;
      color: black;
      font-size: 1.1em;
    }

    a:hover{
      text-decoration: underline;
      text-decoration-color: rgba(234, 169, 124, 1);
      color: black;
    }

    .container{
      width: 100%;
    }

    .h2 {
      text-align: center;
    }

  .list-group{
    width: 100%;
    height: 100vh;
    padding-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
  }

  .list-group-item{
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .list-group-item:hover {
    background-color: rgba(230, 230, 250, 0.5);
    cursor: pointer;
  }


  .disease {
    display: flex;
    padding-bottom: 5%;
  }

  .clinical_trail{
    display: flex;
    padding-bottom: 5%;
  }

  .treatment{
    display: flex;
    padding-bottom: 5%;
  }

  .patient{
    display: flex;
    padding-bottom: 5%;
  }

  .medical_record{
    display: flex;
    padding-bottom: 5%;
  }

  .other{
    padding-bottom: 5%;
  }



</style>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Big Data</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#"></a>
                <a class="nav-item nav-link" th:href="@{/}">Home</a>
                <a class="nav-item nav-link" href="#"></a>
                <a class="nav-item nav-link" th:href="@{/login}">Login</a>
                <a class="nav-item nav-link" href="#"></a>
                <a class="nav-item nav-link active" th:href="@{/query}">Query<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#"></a>
                <a class="nav-item nav-link" href="team.html">About us</a>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h2 style="text-align: center; margin-top: 2%;"> Welcome </h2>

    <ul class="list-group">
        <a href="#disease">
            <li class="list-group-item"> Disease</li>
        </a>
        <a href="#clinical_trail">
            <li class="list-group-item">Clinical Trail</li>
        </a>
        <a href="#treatment">
            <li class="list-group-item">Treatment</li>
        </a>
        <a href="#patient">
            <li class="list-group-item">Patient</li>
        </a>
        <a href="#medical_record">
            <li class="list-group-item">Medical Record</li>
        </a>
    </ul>

    <h2 id="disease">Disease</h2>
    <div class="disease">

        <div class="card" style="width: 100%">
            <div class="card-body" style='height: 80vh; overflow-y: scroll;'>
              <h3><small class="text-muted">Search diseases by</small></h3>
                <div class="form-inline">
                    <div class="form-group" style="padding-bottom: 2%;">
                        <label>Symptom: </label>
                        <input id="disease-name" type="text" class="form-control" placeholder="Find by symptom">
                    </div>
                    <button id="get-disease" type="button" class="btn btn-secondary" style="margin-bottom: 2%;">
                        Search
                    </button>

                    <div class="form-group" style="padding-bottom: 2%;">
                        <label>Clinical Trial: </label>
                        <input type="text" class="form-control" id="ct-disease-name" placeholder="Find by clinical trial"/>
                    </div>
                    <button type="button" class="btn btn-secondary" id="by-ct-disease" style="margin-bottom: 2%;">
                        Search
                    </button>
                </div>

                <div class="form-inline">
                  <div class="form-group" style="padding-bottom: 2%;">
                    <label>Find diseases that have more than</label>
                    <select class="form-control" id="cross-number">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                    </select>
                    <select class="form-control" id="cross-disease">
                      <option value="Treatment">Treatment</option>
                      <option value="ClinicalTrial">ClinicalTrial</option>
                    </select>
                    <button type="button" class="btn btn-secondary" id="cross-ct-t" style="margin-bottom: 2%;"> Search</button>
                </div>
              </div>


                <h3><small class="text-muted">Link disease to clinical trail</small></h3>
                <div class="form-inline">
                    <div class="form-group" style="padding-bottom: 2%;">
                        <label>Disease Name: </label>
                        <input type="text" class="form-control" id="link-disease-dname" placeholder="Disease name">
                        <label>Clinical Trial Name: </label>
                        <input type="text" class="form-control" id="link-disease-tname" placeholder="Clinical trial name">
                    </div>
                    <button type="button" class="btn btn-secondary" id="link-disease-bt" style="margin-bottom: 2%;">
                        Link
                    </button>
                </div>

                <table class="table" id="disease-table">
                    <thead>
                    <tr>
                        <th scope="col">Disease Name</th>
                        <th scope="col">Prevalence</th>
                        <th scope="col">Symptoms</th>
                        <th scope="col">Other Info</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <h2 id="clinical_trail">Clinical Trial</h2>
    <div class="clinical_trail">

        <div class="card" style="width: 100%;">
            <div class="card-body" style='height: 80vh; overflow-y: scroll;'>

              <h3><small class="text-muted">Search clinical trial by</small></h3>
                <div class="form-inline" style="padding-bottom: 2%;">
                    <div class="form-group">
                        <label>Clinical Trial: </label>
                        <input type="text" class="form-control" id="ct-name" placeholder="Clinical trial name">
                    </div>
                    <button type="button" class="btn btn-secondary" id="ct-search-by-name">Search</button>

                    <div class="form-group">
                        <label>Disease:</label>
                        <input type="text" class="form-control" id="ct-search-by-dn" placeholder="Disease name">
                    </div>
                    <button type="button" class="btn btn-secondary" id="ct-search-by-disease">Search</button>
                </div>

                <h3><small class="text-muted">See clinical trial by</small></h3>
                <div class="form-inline" style="padding-bottom: 2%;">
                    <div class="form-group">
                        <label>Filter by: </label>
                        <select class="form-control" id="ct-field">
                          <option value="TrialName">Trial</option>
                          <option value="Type">Type</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-secondary" id="ct-filter-by">Apply</button>
                </div>


                <table class="table" id="clinical_trail_table">
                    <thead>
                    <tr>
                        <th scope="col">Trial</th>
                        <th scope="col">Type</th>
                        <th scope="col">Number of Patients</th>
                        <th scope="col">IsComplete</th>
                        <th scope="col">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <h2 id="treatment">Treatment</h2>
    <div class="treatment">

        <div class="card" style="width: 100%">
            <div class="card-body" style='height: 80vh; overflow-y: scroll'>
              <h3><small class="text-muted">Search treatment by</small></h3>
                <form class="form-inline">
                    <div class="form-group" style="padding-bottom: 2%;">
                        <label>Treatment:</label>
                        <input type="text" class="form-control" id="tname" placeholder="Treatment name">
                    </div>
                    <button type="button" class="btn btn-secondary" id="t-search-by-name" style="margin-bottom: 2%;">Search</button>

                    <div class="form-group" style="padding-bottom: 2%;">
                        <label>Disease:</label>
                        <input type="text" class="form-control" id="treatment-dname" placeholder="Disease name">
                    </div>
                    <button type="button" class="btn btn-secondary" id="t-search-by-dn" style="margin-bottom: 2%;">Search</button>
                </form>

                <table class="table" id="treatment-table">
                    <thead>
                    <tr>
                        <th scope="col">Treatment Name</th>
                        <th scope="col">Efficiency</th>
                        <th scope="col">Equipment</th>
                        <th scope="col">Risks</th>
                        <th scope="col">See more</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h2 id="patient">Patient</h2>
    <div class="patient">

        <div class="card" style="width: 100%;">
            <div class="card-body" style='height: 80vh;'>
                <form class="form-inline" action="/action_page.php">
                    <div class="form-group" style="padding-bottom: 2%;">
                        <label>Patient ID:</label>
                        <input type="text" class="form-control" id="id-for-patient">
                    </div>
                    <button type="button" class="btn btn-secondary" id = "select-patient"
                            style="margin-bottom: 2%;">Select</button>
                    <button type="button" class="btn btn-secondary" id = "delete-patient"
                            style="margin-bottom: 2%;">Delete patient</button>
                    <button type="button" class="btn btn-secondary" id = "count-record-bt"
                            style="margin-bottom: 2%;">Medical Records Count</button>
                    <label style="margin-left: 5%; margin-bottom: 2%;">Record Count:</label>
                    <output id="recordCount" style="margin-left: 2%; margin-bottom: 2%;;"></output>
                </form>

                <form class="form-inline" action="/action_page.php">
                    <div class="form-group" style="padding-bottom: 2%;">
                        <label> Oldest patients grouped by each physician </label>
                    </div>
                    <button type="button" class="btn btn-secondary" id = "display-oldest-by-physician"
                            style="margin-bottom: 2%; margin-left: 3%;">Display
                    </button>
                </form>

                <form class="form-inline" action="/action_page.php">
                    <div class="form-group" style="padding-bottom: 2%;">
                        <label> Patient with all diseases </label>
                    </div>
                    <button type="button" class="btn btn-secondary" id = "find-patient-all-diseases" style="margin-bottom: 2%; margin-left: 3%;">
                        Search
                    </button>
                </form>

                <table class="table" id="patient-table">
                    <thead>
                    <tr>
                        <th scope="col">Patient ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Family History</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Physician</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <h2 id="medical_record">Medical Record</h2>
    <div class="medical_record">

        <div class="card" style="width: 100%;">
            <div class="card-body" style='height: 80vh;'>

                <form class="form-inline" action="/action_page.php">
                    <div class="form-group" style="padding-bottom: 2%;">
                        <label>Patient ID:</label>
                        <input type="text" class="form-control" id="patient-id">
                    </div>
                    <button type="button" class="btn btn-secondary" id = "search-by-patient-id" style="margin-bottom: 2%;">
                        Search
                    </button>
                </form>

                <form class="form-inline" action="/action_page.php">
                    <div class="form-group" style="padding-bottom: 2%;">
                        <label>Record Start Date (YYYY-MM-DD):</label>
                        <input type="text" class="form-control" id="start_date">
                    </div>
                    <div class="form-group" style="padding-bottom: 2%;">
                        <label>Medication to add:</label>
                        <input type="text" class="form-control" id="new-medication">
                    </div>
                    <button type="button" class="btn btn-secondary" id = "edit-medications" style="margin-bottom: 2%;">
                        Edit Records
                    </button>
                </form>

                <table class="table" id="medical_record_table">
                    <thead>
                    <tr>
                        <th scope="col">Patient Id</th>
                        <th scope="col">Start</th>
                        <th scope="col">End</th>
                        <th scope="col">Disease</th>
                        <th scope="col">Implants/Surgeries</th>
                        <th scope="col">Allergies</th>
                        <th scope="col">Medications</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

</body>


